*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
}

body {
    z-index: 2;
    background-image: url("../images/a\ \(13\).jpg");
    background-repeat: no-repeat;
    
 
}

header{
    position: fixed;
    width: 100%;
    height: 90px;
    background: #2f3640;
    z-index: 2;
  }
  
  .inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
  }
  
  .logo{
    float: left;
    padding: 20px 0;
  }
  
  .logo img{
    height: 50px;
  }
  
  .navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    background-color: #2f3640;
    min-height: 90px;
    position: absolute;
  }
  
  .navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  .navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
  }
  
  .home{
    color: #ff6b6b;
  }
  
  .about{
    color: #0abde3;
  }
  
  .works{
    color: #feca57;
  }
  
  .team{
    color: #5f27cd;
  }
  
  .contact{
    color: #1dd1a1;
  }
  
  .menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }
  

.contact-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: rgb(13, 8, 61);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.icon{
    font-size: 32px;
    color: #ff9101;
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
  
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}
.dropbtn {
  background:  #2f3640;
  color:#fff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: #2f3640;
  background-color:  #fff;}

/*  ......//////////////////////////////////////////////////////////////////////////////////////////////////*/
  footer{
    background:#2f3640;
    padding: 90px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #74e1ff;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #ff8800;
  }
  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #ecfc5c;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #6d94fd;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #1639ff;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn:hover{
    opacity: .7;
    background-color: #ff8800;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* @media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
}
 */
@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }
  .card{
    flex: 100%;
    max-width: 500px;
}
  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #2f3640;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid  #2f3640;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
